<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur mon projet MVC</title>
</head>
<body>
    <h1>Bienvenue sur la page redirigée!</h1>
    <a href="/home">
        <button>Aller à la page d'accueil</button>
    </a>
</body>
</html>